// Basic page options
@import "global/normalize";

// fonts
@import "global/fonts";

// vars
@import "global/vars";

// mixins
@import "global/mixins";



// common
@import "blocks/common/container";

// index page


//form
@import "blocks/index/header";