@font-face {
  font-family: 'Montserrat';
  src: url('../../../build/fonts/Montserrat-Italic.woff2') format('woff2'),
      url('../../../build/fonts/Montserrat-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../../build/fonts/Montserrat-Regular.woff2') format('woff2'),
      url('../../../build/fonts/Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../../../build/fonts/Montserrat-Bold.woff2') format('woff2'),
      url('../../../build/fonts/Montserrat-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../../build/fonts/Montserrat-Medium.woff2') format('woff2'),
      url('../../../build/fonts/Montserrat-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Kaushan-Script';
  src: url('../../../build/fonts/KaushanScript-Regular.woff2') format('woff2'),
      url('../../../build/fonts/KaushanScript-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}