// Main Colors

// Fonts
$montserrat: "Montserrat";
$montserrat-b: "Montserrat-Bold";
$kaushan_script: "Kaushan-Script";
$roboto: "Roboto";
$arial: "Arial", sans-serif; 

// Pixel density
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// Viewports
$mobile-width: 320px;
$mdmobile-width: 420px;
$bgmobile-width: 480px;
$tablet-width: 768px;
$laptop-width: 1024px;
$desktop-width: 1300px;

// Gutters
$mobile-pads: 20px;
$tablet-pads: 30px;
$desktop-pads: 40px;