.about_us {
  text-align: center;
}
.about_us__text {
  margin-top: 100px;
  .about_us__text-slogan {
    color: #333333;
    font-family: $kaushan_script;
    font-size: 24px;
    font-weight: 400;
  }
  .about_us__text-title {
    color: #333333;
    font-family: $montserrat-b;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 23px;
  }
  hr {
    border: none;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin-top: 40px;
  }
  .about_us__text-description {
    display: inline-block;
    width: 954px;
    height: 39px;
    color: #999999;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    // line-height: 24px;
    margin-top: 47px;
  }
}

.about_us__content {
  margin: 90px 0 120px 0;
  display: flex;
  .about_us__content-img {
    height: 250px;
    position: relative;
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
    &:after {
      content: "";
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
    }
   
    &:hover {
      transform: translate(-10px, -10px);
      box-shadow: 10px 10px 10px #95e1d3;
      &:after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: transparent;
        background-image: linear-gradient(to left, #fce38ae6, #f38181e6);
        opacity: 0.8;
      }
      &:before {
        content: "";
        display: inline-block;
        width: 52px;
        height: 52px;
        margin: -10px 0 0 -15px;
        position: absolute;
        top: 50%;
        left: 50%;
        background: url(../../../../build/img/raster/USERS.png) 0 0 no-repeat;
        z-index: 100;
      }
    }
    
  }
}
