.header_page{
  position: absolute;
  border-bottom: 1px solid #e6e6e6;
  background-color: #000000;
  background-image: linear-gradient(to top, #fce38ae6 0%, #f38181e6 100%), url("/build/img/raster/Layer_15.png");
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.header_page_bar{
  display: flex;
  justify-content: space-between;
}

.header_page_content{
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  text{
    display: inline-block;
  }
}